// Allow ToC links to be broken into multiple lines
.main-content { a { white-space: normal; } }

.chapter-navigator-wrapper {
    grid-column-gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

.chapter-navigator-next {
  margin-left: auto;
}

// Hide link button in page title
h1 {
  .anchor-heading {
    display: none;
  }
}

// Images in text
.image_link {
  // Hide link underline
  background-size: 0;
  // Center
  display: block;
  text-align: center;
}

.image_link img {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

// Center image caption
figcaption {
  text-align: center;
}

// Make TOC chapter link bold
.toc_chapter_link {
  font-weight: bold;
}

// Hide the Just The Docs footer (it's already in the license footer)
.site-footer {
  display: none;
}
body {
  padding-bottom: 0;
}

// Search bar

.main-header.nav-open {
  // Hide the white gap between the navigator and the search bar in the mobile view
  display: flex;
}

.main-header .tsmb-form {
  // Align the search bar left in the desktop view
  order: -1;

  width: calc(min(536px, 100% - 10px));
  margin: 5px;

  --tsmb-size-listbox-max-height: 80vh;

  --tsmb-color-base-background: #{$search-background-color};
  --tsmb-color-base30: #{$body-text-color};
  --tsmb-color-base50: color-mix(in srgb, #{$body-text-color}, transparent 50%);
  --tsmb-color-base90: color-mix(in srgb, #{$body-text-color}, transparent 50%);
  --tsmb-color-focus-background:  #{$search-background-color};
  --tsmb-color-focus30: #{$body-heading-color};
  --tsmb-color-focus50: #{$body-text-color};
  --tsmb-color-focus90: color-mix(in srgb, #{$body-text-color}, transparent 50%);

  --tsmb-color-primary30: #{$link-color};
  --tsmb-color-primary50: #{$btn-primary-color};
  --tsmb-color-primary90: #{$sidebar-color};
}


.tsmb-form input[type="search"]:focus-visible {
  outline: calc(2 * var(--tsmb-size-edge)) solid #{$link-color}
}

// Search results show the whole snippet
div.tsmb-suggestion_title, div.tsmb-suggestion_content {
  white-space: normal;
}

.aux-nav {
  flex-shrink: 0;
  height: auto;
  padding-right: 0;
}
